src/.ipynb_checkpoints/
*.pyc
logging.log
report/
*.pickle
scripts.py
rename_plts.py
ProjectCN_BeltranBernardezMiralles.zip
PW3-IDSS-1617-T2-An_intelligent_recommender_system_based_on_soft_clusters_with_application_to_Last.fm.zip
src/plots/backup
src/webapp/elm-stuff
report2
